.index-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  .index-header{}
  .index-form{
    padding: 30px;
  }
  .index-content{
    display: flex;
    flex: 1;
    overflow-y: hidden;
    .content-item{
      flex: 1;
      flex-shrink: 0;
      padding:  30px;
      overflow-y: auto;
      .item{
        .item-name{
          margin-left: 20px;
        }
        .item-del{
          cursor: pointer;
          font-size: 18px;
          margin-left: 20px;
        }
      }
      .item-thumbnail, .sprite-box{
        display: inline-block;
        background-image: url(../../static/images/bg.png);
      }
    }
  }
}